aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
alembic==1.13.3
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.0
apache-airflow==2.10.2
apache-airflow-providers-common-compat==1.2.0
apache-airflow-providers-common-io==1.4.1
apache-airflow-providers-common-sql==1.17.0
apache-airflow-providers-fab==1.4.0
apache-airflow-providers-ftp==3.11.1
apache-airflow-providers-http==4.13.1
apache-airflow-providers-imap==3.7.0
apache-airflow-providers-smtp==1.8.0
apache-airflow-providers-sqlite==3.9.0
apispec==6.6.1
appdirs==1.4.4
argcomplete==3.5.0
argon2-cffi==21.1.0
asgiref==3.8.1
async-timeout==4.0.3
attrs==24.2.0
Babel==2.8.0
backcall==0.2.0
beautifulsoup4==4.12.3
beniget==0.4.1
bleach==4.1.0
blinker==1.8.2
Brotli==1.0.9
cachelib==0.9.0
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.3.2
click==8.1.7
clickclick==20.10.2
cloudpickle==3.0.0
colorama==0.4.6
colorlog==6.8.2
command-not-found==0.3
ConfigUpdater==3.2
connexion==2.14.2
contourpy==1.3.0
cron-descriptor==1.4.5
croniter==3.0.3
cryptography==43.0.1
cycler==0.11.0
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2024.9.0
dbus-python==1.2.18
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.6.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.21.2
email_validator==2.2.0
entrypoints==0.4
exceptiongroup==1.2.2
fastapi==0.115.0
Flask==2.2.5
Flask-AppBuilder==4.5.0
Flask-Babel==2.0.0
Flask-Caching==2.3.0
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.8.0
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
fonttools==4.29.1
frozendict==2.4.4
frozenlist==1.4.1
fs==2.4.12
fsspec==2024.9.0
gast==0.5.2
gitdb==4.0.11
GitPython==3.1.43
google-re2==1.1.20240702
googleapis-common-protos==1.65.0
greenlet==3.1.1
grpcio==1.66.1
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.2
httpx==0.27.2
idna==3.10
importlib_metadata==8.4.0
importlib_resources==6.4.5
inflection==0.5.1
iniconfig==2.0.0
ipykernel==6.7.0
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==6.0.0
itsdangerous==2.2.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
keyring==23.5.0
kiwisolver==1.3.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lazy-object-proxy==1.10.0
limits==3.13.0
linkify-it-py==2.0.3
locket==1.0.0
lockfile==0.12.2
lxml==5.3.0
lz4==3.1.3+dfsg
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.22.0
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.28.2
matplotlib==3.8.4
matplotlib-inline==0.1.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
methodtools==0.4.7
more-itertools==10.5.0
mpmath==0.0.0
multidict==6.1.0
multitasking==0.0.11
narwhals==1.8.1
nbclient==0.5.6
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.11.0
notebook==6.4.8
numpy==2.1.1
oauthlib==3.2.0
olefile==0.46
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-exporter-otlp-proto-http==1.27.0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
ordered-set==4.1.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.0
parso==0.8.1
partd==1.4.2
pathspec==0.12.1
peewee==3.17.6
pendulum==3.0.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==4.3.3
plotly==5.24.1
pluggy==1.5.0
ply==3.11
prison==0.2.1
prometheus-client==0.9.0
prompt-toolkit==3.0.28
protobuf==4.25.5
psutil==6.0.0
psycopg2==2.9.9
ptyprocess==0.7.0
py==1.10.0
pyarrow==17.0.0
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
pyrsistent==0.18.1
pytest==8.3.3
python-apt==2.4.0+ubuntu4
python-daemon==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==0.19.2
python-nvd3==0.16.0
python-slugify==8.0.4
pythran==0.10.0
pytz==2024.2
PyYAML==5.4.1
pyzmq==22.3.0
referencing==0.35.1
requests==2.32.3
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rich==13.8.1
rich-argparse==1.5.2
rpds-py==0.20.0
scipy==1.8.0
SecretStorage==3.3.1
Send2Trash==1.8.1b0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.3.1
SQLAlchemy==1.4.54
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.1
ssh-import-id==5.11
starlette==0.38.6
streamlit==1.38.0
sympy==1.9
systemd-python==234
ta==0.11.0
tabulate==0.9.0
tenacity==8.5.0
termcolor==2.4.0
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
texttable==1.6.4
time-machine==2.15.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
tornado==6.1
traitlets==5.1.1
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-pro-client==8001
uc-micro-py==1.0.3
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodecsv==0.14.1
unicodedata2==14.0.0
universal_pathlib==0.2.5
urllib3==2.2.3
uvicorn==0.30.6
wadllib==1.3.6
watchdog==4.0.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.2.3
widgetsnbextension==2.0.0
wirerope==0.4.7
wrapt==1.16.0
WTForms==3.1.2
yarl==1.12.1
yfinance==0.2.43
zipp==3.20.2
